.navbar {
    /* background-color: rgb(99, 129, 95); */
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.01), 0 10px 30px rgba(0, 0, 0, .3);
}
.nav-item {
    padding-right: 5px;
    --bs-nav-link-padding-y: 0rem !important;
}

.nav-item.dropdown {
    padding-right: 0px;
}

a {
    color: black !important;
    text-decoration: none !important;
}
.dropdown-menu.show {
    background-color: rgb(99, 129, 95);
   
} 
.footer {
    background-color: rgb(99, 129, 95) !important;
    justify-content: center !important;
  
   /* Adjust padding to fit content */
}

.productListContent {
    flex: 1;
    margin-bottom: 10%;
}
